
.dropdown-submenu>a::after {
    border-top: .3em solid transparent;
    border-right: .3em solid !important;
    border-bottom: .3em solid transparent;
    border-left: 0 !important;
    float: left !important;
    margin-left: .5rem;
    margin-top: .5rem;
}

.dropdown-submenu>.dropdown-menu {
    right: 100% !important;
    margin-left: 0;
    margin-top: 0;
    top: 0;
}

@media print {
    thead {
        display: table-header-group;
    }
}
